.jumbotron {
	background-image : url("../img/assets/customers/backgrounds/landing.jpg");
	background-size: cover;
	margin: 0% 0% 0% 0%;
	height:80%;
}
.jumbotron p {
	color: white;
	font-size: 40px;
	font-family: serif;
	margin-bottom: 0px
}
.container-fluid {
	padding-top: 0%;
	margin-top: 0px,
}
.container p {
	font-size: 40px;
	background-color: silver;
	padding-top: 0%;
	width:100%;
}
.align {
	padding-left:2%;
	padding-top:10%;
	font-family: 'IBM Plex Serif', serif;
	font-size: 28px;

}
.col-md-3{
	padding:0%;
	margin:0%;


}

#hour{
	
	background-color: silver;
	text-align: center;
	height:15%;
}
#time{
    
	background-color:coral;
	text-align: center;
	margin-bottom: 0px;
	height:15%;
}
#breakfast {
	background-image: url("../img/assets/foodtop/breakfast.jpg");
	/*background-size:cover;*/
	height:30%;
}
#lunch {
	background-image: url("../img/assets/foodtop/lunch.jpg");
	/*background-size:cover;*/
	height:30%;
	color:white;


}
#dinner {
	background-image: url("../img/assets/foodtop/dinner.jpg");
	/*background-size:cover;*/
	height:30%;


}	

.cnt2{
  background-image: url("../img/assets/customers/backgrounds/foodsBg.jpg");
  height: 60vh;
  margin: 0% 0% 0% 0%;
  height:70%;

}
.col-md-3 h1 {
	color:white;
	font-size:40%px;
}
.col-md-6 p{
	font-size: 20px;


}
 .box {
 margin:0px;
 border: 2px solid #F5581B;
 padding:20px;
 width: 200px;
 
}
.box h1 {
	font-size: 15px;
	margin: 0% 0% 0% 0%;
	color:#F5581B;
	padding-bottom: 1px;
}
.span  {
	style="text-align: right;
	 padding-right: 100px;
	 margin-top: 50px;
}  
 .box2 {
 margin:0px;
 border: 2px solid #F5581B;
 padding:20px;
 width: 150px;
 }
 .box2 h1 {
	font-size: 15px;
	margin: 0% 0% 0% 0%;
	color:#F5581B;
	padding-bottom: 1px;
}

.drinkcol1{
background-image: url("../img/assets/drink1.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 90%;
margin:0,0,0,0;
width:40%;
padding-left: 50px;

/*margin-left: 20px;*/
}
.drinkcol2{
background-image: url("../img/assets/drink2.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 90%;
margin: 0,0,0,0;
width:40%;
}
.cont2 {
background-image: url("../img/assets/customers/backgrounds/foodsBg.jpg");
background-repeat: no-repeat;
background-size: cover;
height :90%;
}
.style {
	text-indent: left;
	margin-right: 50px;
	margin-left: : 50px,
}
.drinkContent{
	text-align: right;
}
.rightarrow{
	color: #F15A29;
	width: 40%;
	font-weight: bold;
	padding: 2%;
	background:#fff;
	border: 1px solid #F15A29;
}
 
	